.slider {
    position: relative;
    width: 100%;
    height: 100%;

    &:hover {
        .slider-overlay {
            display: block;
        }
    }

    .slider-img {
        width: 100%;
        height: 100%;
    }

    .slider-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;

        .slider-play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
