$bg-image-apple: "../../../assets/img/apple.jpg";

.user-manage-page {
  margin: 60px 0 100px;
  animation: transform-when-loaded 1s;

  .user-manage-header {
    background-image: url($bg-image-apple);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20vh;
    top: 0;
    left: 0;

    .header-left,
    .header-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .header-left {
      left: 10%;
    }

    .header-right {
      right: 10%;
    }
  }

  .user-manage-body {
    margin: 60px auto 0;
    max-width: 1000px;

    h2 {
      color: #fb4226;
      font-size: 32px;
    }

    .info {
      animation: transform-when-loaded 1s;

      h3 {
        font-size: 12px;
        color: #666;
        font-weight: 600;
      }

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        color: black;
      }
    }

    .btn {
      background: linear-gradient(to left, #fb4226, #ce3017 100%);
      padding: 4px 13px;
      font-size: 13px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .form {
      animation: transform-when-loaded 1s;
    }
  }
}
