$bg-image-apple: "../../../assets/img/apple.jpg";

.user-manage-page {
  margin: 60px 0 100px;
  animation: transform-when-loaded 1s;

  .user-manage-header {
    background-image: url($bg-image-apple);
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;

    .user-manage-header-container {
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
      top: 0;
      left: 0;
      height: 100%;

      .ant-col {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:first-child {
          left: 0;
        }

        &:last-child {
          right: 0;
        }
      }

      h1,
      h3 {
        color: white;
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      span {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-size: 14px;
        padding: 8px 15px;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .user-manage-body {
    margin: 60px auto 0;
    max-width: 1000px;

    h2 {
      color: #fb4226;
      font-size: 25px;
    }

    .info {
      animation: transform-when-loaded 1s;

      h3 {
        font-size: 12px;
        color: #666;
        font-weight: 600;
      }

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        color: black;
      }
    }

    .btn {
      background: linear-gradient(to left, #fb4226, #ce3017 100%);
      padding: 4px 13px;
      font-size: 13px;
      color: white;
      border-radius: 5px;
      cursor: pointer;

      &.btn-form-submit {
        margin-right: 20px;
      }
    }

    .form {
      animation: transform-when-loaded 1s;
    }
  }
}
