$bg-image: "../../assets/img/back-news.jpg";

.search-box,
.collection,
.nav-tab,
.break-out,
.news {
    width: 85%;
    margin: 0 auto;
}

.search-box {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
}

.break-out {
    background-image: url($bg-image);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    background-size: cover;
}
