.card-content {
    position: relative;
    width: 100%;
    height: 100%;

    &:hover {
        .card-overlay,
        .card-button,
        .card-play-icon {
            display: block;
            animation-name: fade-on-hover;
            animation-duration: 1s;
        }
        .card-body {
            display: none;
        }
    }

    .card-background,
    .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
    }

    .card-body,
    .card-button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        color: black;
        overflow: hidden;
    }

    .card-background {
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .card-body {
        padding-top: 5px;

        .card-text {
            font-size: 17px;
            text-align: center;
            font-weight: 500;
        }
    }

    .card-overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .card-play-icon {
        display: none;
        border: 2px solid white;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &:hover {
            border-color: rgba(255, 255, 255, 0.6);
            svg {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        svg {
            color: white;
            width: 100%;
            height: 100%;
        }
    }

    .card-button {
        display: none;
        padding-top: 5px;

        .card-submit {
            cursor: pointer;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            padding: 5px 0;
            color: white;
            background-color: #fb4226;
            border-radius: 20px;
            text-align: center;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}

@keyframes fade-on-hover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
