.seat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 30%;
  background-color: #2b3b45;
  color: white;
  font-size: 10px;

  span {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.vip {
    background-color: rgb(179, 251, 33);
  }

  &.chosen {
    background-color: rgba(128, 128, 128, 0.197);
    cursor: no-drop;
  }

  &.choosing {
    background-color: green;
  }
}

@media only screen and (max-width: 500px) {
  .seat span {
    font-size: 8px;
  }
}
