.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  animation: transform-when-loaded 1s;

  .signup-content {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    max-width: 30%;
    min-width: 300px;
    margin: auto;
    border-radius: 30px;
    background-color: #ffffff;

    .signup-heading {
      background-color: purple;
      border-radius: 30px 30px 0 0;
      color: white;
      font-weight: 600;
      font-size: 30px;
      word-spacing: 1px;
      padding: 20px;
    }

    .form-wrapper {
      padding: 50px 30px 50px 30px;
    }
  }
}
