footer {
  background-color: #222222;
  color: white;
  clear: both;
  width: 100%;

  .footer-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 5px;

    p {
      color: white;
    }

    .footer-partners {
      width: 65%;
    }

    .footer-logo {
      width: 30px;
      height: auto;
      display: block;
    }

    .footer-icon {
      svg {
        font-size: 25px;
        color: white;
      }
    }

    .footer-logo {
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 8px;
      margin: 0 auto;
    }

    p {
      text-align: center;
      margin: 0;
    }
  }
}
