.news-card {
  height: 400px;
  width: 100%;

  .news-content {
    width: 100%;
    height: 100%;

    .news-image {
      width: 100%;
      height: 70%;
      display: block;
    }

    .news-body {
      width: 100%;
      height: 30%;
    }
  }
}
