$bg-image: "../../assets/img/back-news.jpg";

.home {
  animation: transform-when-loaded 1s;

  .search-box,
  .collection,
  .nav-tab,
  .break-out,
  .news {
    margin: 0 auto;
    max-width: 950px;
  }

  .search-box {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    transform: translateY(-50%);
  }

  .break-out {
    background-image: url($bg-image);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    background-size: cover;
  }

  .home-title {
    text-align: center;
    margin: 50px 0;
    font-size: 30px;

    &:hover {
      animation: scale-title 0.5s;
      transform: scale(1.2);
    }
  }
}

@keyframes scale-title {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1200px) {
  .home {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1050px) {
  .home {
    .collection {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .home {
    .collection {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .search-box {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .nav-tab {
    display: none;
  }
}
